<?xml version="1.0"?>
<config>
    <modules>
        <KuafuSoft_Nexmo>
            <version>0.1.0</version>
        </KuafuSoft_Nexmo>
    </modules>
    <global>
        <helpers>
            <ks_nexmo>
                <class>KuafuSoft_Nexmo_Helper</class>
            </ks_nexmo>
        </helpers>
        <models>
            <ks_nexmo>
                <class>KuafuSoft_Nexmo_Model</class>
                <resourceModel>ks_nexmo_mysql4</resourceModel>
            </ks_nexmo>
        </models>
        <resources>
            <ks_nexmo_setup>
                <setup>
                    <module>KuafuSoft_Nexmo</module>
                </setup>
            </ks_nexmo_setup>
            <ks_nexmo_customer_setup>
                <setup>
                    <module>KuafuSoft_Nexmo</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </ks_nexmo_customer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ks_nexmo>
                    <file>ks_nexmo.xml</file>
                </ks_nexmo>
            </updates>
        </layout>
    </frontend>
</config>
